apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "dentistry-registry.fullname" . }}-db
  labels:
    {{- include "dentistry-registry.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "dentistry-registry.fullname" . }}-db
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "dentistry-registry.name" . }}-db
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "dentistry-registry.name" . }}-db
        {{- include "dentistry-registry.labels" . | nindent 8 }}
    spec:
      containers:
        - name: postgres
          image: {{ .Values.postgres.image }}
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ include "dentistry-registry.fullname" . }}-postgres
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "dentistry-registry.fullname" . }}-postgres
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: {{ include "dentistry-registry.fullname" . }}-postgres
                  key: POSTGRES_DB
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
{{- if .Values.postgres.persistenceEnabled }}
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ .Values.postgres.storage }}
{{- else }}
      volumes:
        - name: postgres-data
          emptyDir: {}
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "dentistry-registry.fullname" . }}-db
  labels:
    {{- include "dentistry-registry.labels" . | nindent 4 }}
spec:
  clusterIP: None
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
  selector:
    app.kubernetes.io/name: {{ include "dentistry-registry.name" . }}-db
